[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2-binary" = "==2.7.5"

[dev-packages]
pytest = "*"
sqlflow = {editable = true, path = "."}
pre-commit = "*"

[requires]
python_version = "3.5"
